/* The container of the chatbot which has a box shadow that surrounds it. */
.chatbot-container {
    width: 1300px;
    max-width: 100%;
    height: 525px;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    overflow-y: scroll;
    padding-top: 25px;
}

/* The input where the user puts their message into. */
#chatbotInput {
    width: 100%;
    background-color: #f2f2f2;
    border: 0;
    padding: 12.5px;
    margin-top: 175px;
}

/* The send message button, needs margin-left so its on top of the input box. */
#chatbotSubmit {
    margin-left: -45px;
    width: 25px;
    background-image: url("../images/sendMessage.svg");
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* When the server sends a message these are the styles that are applied to them. */
.server-message {
    padding-left: 22.5px;
    margin-right: 200px;
    color: black;
}

/* The paragraph inside of the server and client divs, sets the styles. */
.server-message p, .client-message p {
    display: inline-block;
    padding: 8px 20px 8px 20px;
    border-radius: 100px;
}

/* Sets the color of the server messages. */
.server-message p {
    background-color: #dfe9ef;
}

/*Sets the color of the color messages. */
.client-message p {
    background-color: #3588eb;
}

/* Sets the styles of the client messages. */
.client-message {
    color: white;
    width: 100%;
    text-align: right;
    padding: 5px 22.5px 5px 0;
}

/* Sets the styles of the server and client messages titles. */
.server-message h6, .client-message h6 {
    display: inline-block;
    padding: 0 0 7px 10px;
    font-weight: bold;
}

/* Client messages have a default color of white but the h6 is not in the chat bubble so you wouldn't be able to see it unless the color was black. */
.client-message h6 {
    color: black;
}

/* Checks if the window width is 900px and if it is the padding of the chat messages is changed because the default padding looks weird for mobile. */
@media (max-width: 900px) {
    .server-message p, .client-message p {
        padding: 8px 25px 8px 25px;
    }
    .chatbot-container {
        height: 573px;
    }
}

@media (max-width: 762px) {
    .server-message p, .client-message p {
        padding: 15px 35px 15px 35px;
    }
}