.chatbot-container {
    width: 1300px;
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

#chatbot-input {
    width: 100%;
    background-color: #f2f2f2;
    border: 0;
    padding: 12.5px;
    margin-top: 150px;
    border-top: 1px solid #d9d9d9;
}

#chatbot-submit {
    margin-left: -45px;
    width: 30px;
    background-image: url(../images/sendMessage.svg);
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.server-message {
    padding-left: 22.5px;
    margin-right: 200px;
    color: black;
}

.server-message p, .client-message p {
    display: inline-block;
    padding: 8px 25px 8px 25px;
    border-radius: 100px;
}

.server-message p {
    background-color: #dfe9ef;
}

.client-message p {
    display: inline-block;
    padding: 8px 25px 8px 25px;
    border-radius: 100px;
}

.client-message p {
    background-color: #3588eb;
}

.client-message {
    color: white;
    width: 100%;
    text-align: right;
    padding: 5px 22.5px 5px 0;
}

.server-message h6, .client-message h6 {
    display: inline-block;
    padding: 0 0 7px 10px;
    font-weight: bold;
}

.client-message h6 {
    color: black;
}

.chatbot-title {
    width: 100%;
    background-color: white;
    color: black;
    margin-bottom: 25px;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid gray;
}