.footer-copyright {
    background-color: #004480;
    color: white;
    padding: 10px 0 10px 20px;
}

.page-footer .row {
    padding: 25px;
    text-align: center;
}

.page-footer a {
    color: white;
}

.page-footer {
    background-color: #00529b;
}

.logo-image img {
    width: 80px;
    height: 80px;
}

.logo-image h1 {
    display: inline;
}

.logo-image a {
    text-decoration: none;
}

.links a {
    padding: 0 15px 0 15px;
}