.navbar-brand img {
    margin: 0 15px 0 15px;
}

.navbar-custom {
    position: absolute;
}

.active-tab {
    font-weight: bold;
    color: #e6e6e6;
}

.nav-item a, .navbar-brand {
    color: white;
}

.navbar-brand:hover, .nav-item a:hover {
    color:  #d9d9d9;
}

.navbar-toggler {
    background-color: rgb(242, 242, 242, 0.4);
}

.nav-item-help {
    cursor: pointer;
}

.nav-item-help img {
    padding-top: 8px;
}

.modal-button {
    background-color: transparent;
    border: none;
}