.navbar-brand img {
    margin: 0 15px 0 15px;
}

.navbar-custom {
    z-index: 2;
    background-color: rgba(212, 212, 212, 0);
    position: absolute;
    font-size: 18px;
}

.nav-item a, .navbar-brand {
    color: white;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-brand:hover, .nav-item a:hover {
    font-weight: bold;
    color: white;
}