.container {
    max-width: 10000px;
}

.quiz-form-container {
    padding: 100px 150px 100px 150px;
}

form {
    width: 100%;
}

.quizRow {
    width: 100%;
}

.quiz-options {
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    padding: 100px 40px 100px 40px;
    border-bottom-right-radius: 2.5px;
}

.col-2 {
    padding: 0;
}

.col-10 {
    margin-top: 150px;
}

.submit-quiz {
    font-weight: 600;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);    
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    margin-top: 100px;
}

.submit-quiz:hover {
    opacity: 0.9;
}